.visible{
    visibility: visible;
    z-index:1;
}
.invisible{
    visibility: hidden;
    z-index:1;
}

.placement{
    width:20rem;
    /* background-color: white; */
    position: absolute;
    z-index: 35;    
}

.buttonWidth{
    background-color: white;
width:20rem;
}

.shad-o{
    box-shadow: 0px 3px 5px #333;
}